<div class="container">

  <h2 style="transition: all .5s;">Queries</h2>

  <div class="row">
  <div class="form-group">
    <label class="control-label col-sm-2" for="queryNumber">Query Number:</label>
    <div class="col-sm-6">
      <select ng-model="queryNumber" ng-options="num for num in queryNumbers">
      </select>
    </div>
  </div>
  </div>  

  <form class="form-horizontal" ng-submit="runQuery()">

    <div class="row" ng-show="queryNumber == 1 || queryNumber == 2 || queryNumber == 5">
    <div class="form-group">
        <label class="control-label col-sm-2" for="startDate">Start Date:</label>
        <div class="col-sm-6">          
        <input type="text" class="form-control" id="startDate" placeholder="Enter Start Date" name="startDate" ng-model="startDate">
         </div>
    </div>
    </div> 

    <div class="row" ng-show="queryNumber == 1 || queryNumber == 2 || queryNumber == 5">
    <div class="form-group">
        <label class="control-label col-sm-2" for="endDate">End Date:</label>
        <div class="col-sm-6">          
        <input type="text" class="form-control" id="endDate" placeholder="Enter End Date" name="endDate" ng-model="endDate">
         </div>
    </div>
    </div> 

    <div class="row" ng-show="queryNumber == 2 || queryNumber == 4">
    <div class="form-group">
        <label class="control-label col-sm-2" for="type">Request Type:</label>
        <div class="col-sm-6">          
        <input type="text" class="form-control" id="type" placeholder="Enter Request Type" name="type" ng-model="type">
         </div>
    </div>
    </div> 

    <div class="row" ng-show="queryNumber == 3 || queryNumber == 7 || queryNumber == 6">
    <div class="form-group">
        <label class="control-label col-sm-2" for="day">Day:</label>
        <div class="col-sm-6">          
        <input type="text" class="form-control" id="day" placeholder="Enter Day" name="day" ng-model="day">
         </div>
    </div>
    </div> 

    <div class="row" ng-show="queryNumber == 11">
    <div class="form-group">
        <label class="control-label col-sm-2" for="name">Citizen Name:</label>
        <div class="col-sm-6">          
        <input type="text" class="form-control" id="name" placeholder="Enter Citizen Name" name="name" ng-model="name">
         </div>
    </div>
    </div> 

    <div class="row" ng-show="queryNumber == 6">
    <div class="form-group">
        <label class="control-label col-sm-2" for="lat1">Latitude 1:</label>
        <div class="col-sm-6">          
        <input type="text" class="form-control" id="lat1" placeholder="Enter Latitude 1" name="lat1" ng-model="lat1">
         </div>
    </div>
    </div> 

    <div class="row" ng-show="queryNumber == 6">
    <div class="form-group">
        <label class="control-label col-sm-2" for="lon1">Longitude 1:</label>
        <div class="col-sm-6">          
        <input type="text" class="form-control" id="lon1" placeholder="Enter Longitude 1" name="lon1" ng-model="lon1">
         </div>
    </div>
    </div> 

    <div class="row" ng-show="queryNumber == 6">
    <div class="form-group">
        <label class="control-label col-sm-2" for="lat2">Latitude 2:</label>
        <div class="col-sm-6">          
        <input type="text" class="form-control" id="lat2" placeholder="Enter Latitude 2" name="lat2" ng-model="lat2">
         </div>
    </div>
    </div> 

    <div class="row" ng-show="queryNumber == 6">
    <div class="form-group">
        <label class="control-label col-sm-2" for="lon2">Longitude 2:</label>
        <div class="col-sm-6">          
        <input type="text" class="form-control" id="lon2" placeholder="Enter Longitude 2" name="lon2" ng-model="lon2">
         </div>
    </div>
    </div> 

    <div class="row">
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Search" class="btn btn-default"/>
    </div>
    </div>
    </div>

  </form>

</div>
